<ion-view title="Join Project" hide-back-button="false">
  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Project ID" ng-model="project.id" ng-change="toggleSubmit()">
        <a href="#" class="item-icon-right">
          <i class="icon ion-ios-camera-outline"></i>
        </a>
      </label>
      <br>
      <button ng-disabled="submit.disabled" ng-click="joinProject()" class="button button-block button-positive">
        Join Project
      </button>
      <button ng-click="myGoBack()" class="button button-block button-stable">
        Cancel
      </button>
    </div>
  </ion-content>
</ion-view>