<ion-view title="Join Project" hide-back-button="false">
  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Project ID">
        <a href="#" class="item-icon-right">
          <i class="icon ion-ios-camera-outline"></i>
        </a>
      </label>
      <br>
      <a class="button button-block button-balanced">
        Join Project
      </a>
      <a href="#/landing" class="button button-block button-assertive">
        Cancel
      </a>
    </div>
  </ion-content> 
</ion-view>