<ion-view title="TrackShip" hide-back-button="true">
  <ion-content scroll="false">
    <ion-tabs class="tabs-positive tabs-icon-only">
      <ion-tab title="Notifications" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline">
        <ion-content scroll="false">
          <div class="list card">
            <div class="item item-divider">
              <ion-item ng-repeat="notifcation in notificationHistory">
                {{notification.message}}
              </ion-item>
            </div>
            <a href="#" class="item item-icon-left">
            This will be a list of notifications
            </a>
          </div>
        </ion-content>
      </ion-tab>

      <ion-tab title="Subscriptions" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <ion-content scroll="false">
          <div class="list card">
            <div class="item item-divider">
              New Subscriptions
            </div>
            <a href="#/projects/new" class="item item-icon-left">
            <i class="icon ion-edit"></i>
            Start a new project
            </a>
            <a href="#/projects/join" class="item item-icon-left">
            <i class="icon ion-ios-plus"></i>
            Join an existing project
            </a>
          </div>
          <div class="card">
            <div class="item item-divider">
              Subscriptions
            </div>
            <ion-item ng-repeat="project in projects" ng-click="showModal(project.id)">
              {{project.name}}
            </ion-item>
          </div>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
