<ion-view title="TrackShip" hide-back-button="true">
  <ion-content scroll="false">
    <ion-tabs class="tabs-positive tabs-icon-only">
      <ion-tab title="Notifications" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline">
        <ion-content scroll="true">
          <div class="list card">
            <div class="item item-divider">
              Notifications
            </div>
            <ion-item ng-if="notifications.length == 0">
              There are no notifications at this time.
            </ion-item>
            <ion-item ng-if="notifications.length > 0" ng-repeat="notification in notifications">
              {{notification.message}}
            </ion-item>
          </div>
        </ion-content>
      </ion-tab>

      <ion-tab title="Subscriptions" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <ion-content scroll="true">
          <div class="list card">
            <div class="item item-divider">
              New Subscriptions
            </div>
            <a href="#/projects/new" class="item item-icon-left">
              <i class="icon ion-edit"></i> Start a new project
            </a>
            <a href="#/projects/join" class="item item-icon-left">
              <i class="icon ion-ios-plus"></i> Join an existing project
            </a>
          </div>
          <div class="card">
            <div class="item item-divider">
              Subscriptions
            </div>
            <ion-list can-swipe="true">
              <ion-item ng-if="projects.length == 0">
                Please start a new project or join an existing project.
              </ion-item>
              <ion-item ng-if="projects.length > 0" ng-repeat="project in projects" ng-click="showModal(project.id)">
                {{project.name}}
                <ion-option-button class="button-assertive" ng-click="removeProject(project.id)">
                  Remove
                </ion-option-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
