<ion-view title="New Project" hide-back-button="false">
  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Project Name" ng-model="project.name" ng-change="toggleSubmit()">
      </label>
      <br>
      <button ng-disabled="submit.disabled" ng-click="createProject()" class="button button-block button-positive" >
        Create Project
      </button>
      <button ng-click="myGoBack()" class="button button-block button-stable">
        Cancel
      </button>
    </div>
  </ion-content>
</ion-view>
