<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    <h1 class="title">Subscriptions</h1>
    <button class="button button-clear button-primary" ng-click="addMaterial()">Add</button>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-toggle toggle-class="toggle-calm" checked="true" ng-repeat="material in materials">{{material.name}}</ion-toggle>
  </ion-content>
</ion-modal-view>
