<ion-modal-view ng-controller="SubscriptionsCtrl">
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    <h1 class="title">Subscriptions</h1>
    <button class="button button-clear button-primary" ng-click="addMaterial()">Add</button>
  </ion-header-bar>
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item ng-if="materials.length == 0">
        There are no materials to subscribe to yet.
      </ion-item>
      <ion-item ng-if="materials.length > 0" ng-repeat="material in materials" ng-class="{'disabled':!material.subscribed}">
        {{material.name}}
        <ion-option-button class="button-stable" ng-click="subscribeMaterial(material.id)" ng-if="!material.subscribed">
          Subscribe
        </ion-option-button>
        <ion-option-button class="button-stable" ng-click="unsubscribeMaterial(material.id)" ng-if="material.subscribed">
          Unsubscribe
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="notifyMaterial(material.id, material.name)">
          Notify
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeMaterial(material.id)">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
